body {
    margin: 0;
    padding: 0;
}

#world {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    /* Hide vertical scrollbar */
    overflow-y: hidden;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
}

#food_box {
    /* position: absolute; */
    background-color: #3e3e73;
    opacity: 0.7;
    background-image: linear-gradient(#e5e6f9 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #e5e6f9 0.7000000000000001px, #3e3e73 0.7000000000000001px);
    background-size: 14px 14px;
    margin-left: 0px;
    margin-top: 0px;
}

#box {
    z-index: 10;
    position: absolute;
}

img {
    background-color: #3e3e73;
    opacity: 0.7;
    background-image: linear-gradient(#e5e6f9 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #e5e6f9 0.7000000000000001px, #3e3e73 0.7000000000000001px);
    background-size: 14px 14px;
}