<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <!-- <canvas id='test' height="1000" width="1000" style='border: solid 2px balck'></canvas> -->



    <div id="world">
        <canvas id='box' width="2000" height="2000" style="border: 1px solid black;"></canvas>
        <canvas id='food_box' width="2000" height="2000" style="border: 1px solid black;"></canvas>
    </div>

    <div class='score' style='display:none'>
        <span id='your_score'>You: 1</span> <span id='oponent_score'>Oponent: 2</span>
    </div>





    {{ room_name|json_script:"room-name" }}




    <!-- <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // chatSocket.onmessage = function(e) {
        //     const data = JSON.parse(e.data);
            
        //     ctx.beginPath();
        //     ctx.arc(data['message'][0], data['message'][1], 10, 0, Math.PI * 2, true);
        //     ctx.closePath();
        //     ctx.fillStyle = 'red';
        //     ctx.fill();
        // };



        // let canvas = document.getElementById('test');
        // let ctx = canvas.getContext('2d');

        // document.querySelector('#test').onclick = function(e) {
        //     coordinates = [e.clientX, e.clientY]

        //     // const message = messageInputDom.value;
        //     chatSocket.send(JSON.stringify({
        //         'message': coordinates
        //     }));
  
        // };
    </script> -->





    <script  src={% static 'js/food.js' %}></script>
    <script  src={% static 'js/snake.js' %}></script>
    <script  src={% static 'js/game.js' %}></script>

</body>



</html>