{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Chat Rooms</title>
</head>
<body>
    

    <div class='container'>

        <div class='create_server'>

            <div class='close' style='display: none;'>✖</div>

            <form id='choose_server_form' action="">
                <button type='button' id='create_server_btn'>Create Server</button>
                <button type='button' id='join_server_btn'>Join Server</button>
            </form>
    
            <form id='create_server_form' action="" style="display:none">
                <input id="room-name-input" type="text" size="100" placeholder="Server Id">
                <button>Pyknij se gierke</button>
            </form>
    
            <form id='join_server_form' action="" style="display:none">
                <input type="text" placeholder="Server Id">
                <button>Join</button>
            </form>
    
        </div>


        <div class='play'>
            <h2 class='title'>Masne wonsze</h2>
            <form action="">
                <input type="text" placeholder="Nick">
                <button id="room-name-submit" type="button">Pyknij se gierke</button>
            </form>
        </div>

    </div>





    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/game/' + roomName + '/';
        };
    </script>
    <script  src={% static 'js/starting.js' %}></script>
</body>
</html>