{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Chat Rooms</title>
</head>
<body>
    

    <div class='container'>

        <div class='create_server'>

            <div class='close' style='display: none;'>✖</div>

            <form id='choose_server_form' action="">
                <button type='button' id='create_server_btn'>Create Server</button>
                <button type='button' id='join_server_btn'>Join Server</button>
            </form>
    
            <form id='join_server_form' action="" style="display:none">
                <!-- Prevent submission on enter -->
                <button type="submit" disabled style="display: none" aria-hidden="true"></button>

                <input type="text" id='join_server_id' placeholder="Server Id">
                <button type='button' id='join_btn'>Join</button>
            </form>

            <div id='joined_server_div' style="display:none">
                <h2>Joined server: <span id='server_id' style='color:#f4a261'></span></h2>
                <button type='button' id='leave_server'>Leave</button>
            </div>
    
        </div>


        <div class='play'>
            <h2 class='title'>Masne wonsze</h2>
            <form action="">
                <input id='nickname' type="text" placeholder="Nick">
                <button id="room-name-submit" type="button">Pyknij se gierke</button>
            </form>
        </div>

    </div>





    <script>
        // document.querySelector('#room-name-input').focus();
        // document.querySelector('#room-name-input').onkeyup = function(e) {
        //     if (e.keyCode === 13) {  // enter, return
        //         document.querySelector('#room-name-submit').click();
        //     }
        // };

        document.querySelector('#room-name-submit').onclick = function(e) {
            let roomName = localStorage.getItem('serverId');
            let nickname = document.getElementById('nickname').value
            if(localStorage.getItem('nickname')){
                document.getElementById('nickname').value = localStorage.getItem('nickname');
            }
            
            if(roomName){
                window.location.pathname = '/game/' + roomName + '/';
                if(!localStorage.getItem('nickname')){
                    localStorage.setItem('nickname', nickname);
                }
            }
        };
    </script>
    <script  src={% static 'js/starting.js' %}></script>
</body>
</html>